@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

/* main layout */
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  min-height: 70vh;
  width: 900px;
  background: white;
  border: solid 2px;
  border-radius: 15px;
}

/* left side */
.left {
  width: 25%;
  padding: 30px 20px 30px 30px;
  background-color: #add7e4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.left img {
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 100px;
  width: 120px;
}
.left label {
  margin-top: 5px;
  display: block;
  line-height: 1.5;
  padding: 20px 10px 20px 20px;
  color: #093656;
}
.left label:hover {
  background: #3aa9c9;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}
.left h1 {
  font-size: 35px;
  text-align: center;
  padding-right: 15px;
  line-height: 1;
  color: #093656;
}
.left h3 {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #093656;
  text-align: center;
}
.nav_left {
  font-size: 15px;
}

/* right side */
.right {
  width: 70%;
  padding: 20px 0px 0px 45px;
}
.right label {
  padding: 5px 10px 10px 20px;
}
.right h4 {
  padding: 5px 0px 5px 20px;
}
.right label:hover {
  background: #3aa9c9;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}
.about_me,
.credentials {
  background: #76c3e5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.nav_right {
  font-size: 15px;
  line-height: 1.5;
}
.nav_right label {
  line-height: 2;
}
.right p {
  font-size: 15px;
}
.right h2 {
  display: flex;
  gap: 10px;
  color: #d24bad;
}
.right h2::after {
  content: "";
  flex: 1;
  height: 2px;
  background: #d24bad;
  margin-top: 20px;
}

/* arrow */
.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 3px solid #093656;
  border-bottom: 3px solid #093656;
  transform: rotate(135deg);
  transition: transform 0.4s ease;
  margin-left: 10px;
}
.info_btn,
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* toggle shit */
input[type="checkbox"][id$="_btn"] {
  display: none;
}

/* content */
.content-box {
  margin-top: -350px;
  margin-left: 200px;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 600px;
  background: white;
  border: 2px solid;
  border-radius: 15px;

  opacity: 0;
  pointer-events: none;
  transform: translateX(40px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  overflow: auto;
}
.content-box .content {
  display: none;
}

.content-box h3 {
  display: flex;
  font-size: 19px;
  gap: 10px;
  color: #d24bad;
}
.content-box h3::after {
  content: "";
  flex: 1;
  height: 2px;
  background: #d24bad;
  margin-top: 15px;
}
.content-box p {
  font-size: 15px;
  text-spacing: 2px;
}
.mission_content {
  display: flex;
  font-size: 15px;
}
.mission_content h3 {
  display: flex;
  gap: 10px;
}
.mission_content h3::after {
  content: "";
  flex: 1;
  height: 2px;
  background: #d24bad;
  margin-top: 15px;
}
.trait {
  margin-bottom: 20px;
}
.trait-name {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.bar {
  position: relative;
  background: #add7e4;
  height: 15px;
  border-radius: 20px;
  overflow: hidden;
}
.bar .fill {
  background: #276a86;
  height: 100%;
}
.bar .score {
  position: absolute;
  right: 10px;
  top: -3px;
  font-size: 14px;
  font-weight: 700;
  color: #4f2242;
}
.strengths_content p {
  font-size: 15px;
}
.strengths_content ul,
li {
  font-size: 15px;
  padding-left: 20px;
}
.spec_content {
  margin-top: -80px;
}
.spec_content ul,
li {
  padding-left: 20px;
}

.acad_content ul,
li {
  padding-left: 20px;
}

/* bio */
#bio_btn:checked ~ .content-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
#bio_btn:checked ~ .content-box .bio_content {
  display: block;
}

/* mission vission */
#mv_btn:checked ~ .content-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
#mv_btn:checked ~ .content-box .mission_content {
  display: block;
}

/* strengths weaknesses */
#sw_btn:checked ~ .content-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
#sw_btn:checked ~ .content-box .strengths_content {
  display: block;
}

/* philo */
#philo_btn:checked ~ .content-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
#philo_btn:checked ~ .content-box .philo_content {
  display: block;
}

/* specialization */
#spec_btn:checked ~ .content-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
#spec_btn:checked ~ .content-box .spec_content {
  display: block;
}

/* acad */
#acad_btn:checked ~ .content-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
#acad_btn:checked ~ .content-box .acad_content {
  display: block;
}

/* experience */
#exp_btn:checked ~ .content-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
#exp_btn:checked ~ .content-box .exp_content {
  display: block;
}

/* testimonials */
#test_btn:checked ~ .content-box {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
#test_btn:checked ~ .content-box .test_content {
  display: block;
}

/* this shit */
#bio_btn:checked ~ .container,
#mv_btn:checked ~ .container,
#sw_btn:checked ~ .container,
#philo_btn:checked ~ .container,
#spec_btn:checked ~ .container,
#acad_btn:checked ~ .container,
#exp_btn:checked ~ .container,
#test_btn:checked ~ .container {
  transform: translate(-80%, -50%);
  transition: transform 0.4s ease;
}

/* arrow spin */
#bio_btn:checked ~ .container label[for="bio_btn"] .arrow,
#mv_btn:checked ~ .container label[for="mv_btn"] .arrow,
#sw_btn:checked ~ .container label[for="sw_btn"] .arrow,
#philo_btn:checked ~ .container label[for="philo_btn"] .arrow,
#spec_btn:checked ~ .container label[for="spec_btn"] .arrow,
#acad_btn:checked ~ .container label[for="acad_btn"] .arrow,
#exp_btn:checked ~ .container label[for="exp_btn"] .arrow,
#test_btn:checked ~ .container label[for="test_btn"] .arrow {
  transform: rotate(-45deg);
}

@media (max-width: 980px) {
  .container {
    width: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content-box {
    width: 90vw;
    left: 50%;
    transform: translate(-50%, -50%);
    top: calc(50% + 10px);
  }
}
